extends ../layout.pug
include ../mixins/ticket

block content
  main.page-content
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          a.tickets-list__btn.btn.btn--big(href='/offers/add')
            span Новая публикация
        ul
          each offer, index in myOffers
            li.tickets-list__item.js-card
              +ticket({ mode: 'edit', data: offer, count: index })
