extends ../layout.pug
include ../mixins/comment.pug

block content
  main.page-content
    section.comments
      .comments__wrapper
        h1.visually-hidden Страница комментариев

        each offerComments in offers
          +comment({ mode: 'edit', data: offerComments })
